@import "tailwindcss";
@plugin "daisyui";

 /* nav-link class starts here */
 .nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0 5px; /* Adds spacing between links */
    font-size: 20px;
  }
  
  .nav-link:hover {
    color: orange; /* Light hover effect */
  }
  
  .nav-link.active {
    color: rgb(231, 23, 23);
    font-weight: 600;
  }
  
  .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    height: 2px; 
    width: 100%; 
    background-color: red;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
  }
   /* nav-link class ends here */

   .borders {
    border: 1px solid rgb(233, 59, 59);
    background: rgba(255, 255, 255, 0.15);
  }
   .bordersB {
    border: 1px solid #0782bb;
    background: rgba(255, 255, 255, 0.15);
  }
   .bordersC {
    border: 1px solid #c6dfeb;
    background: rgba(255, 255, 255, 0.15);
  }
  .position {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
  }